.box1{
  width: 100%;
  max-width: 20rem;
  flex: 0 0 auto;
}
.logo {
  display: block;
  width: 100%;
  max-width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.box1 p{
  width: 100%;
  line-height: 1.5rem;
  text-align: justify;
  margin-bottom: 1.5rem;
}
.socialmediaBox{
  width: 100%;
}
.socialmediaBox a .mediaIcons{
  font-size: 2rem;
  margin-right: 1rem;
  color: #fff;
}

@media screen and (max-width: 1000px) {
.logo {
  max-width: 5rem;
  height: 7rem;
}
}
@media screen and (max-width: 650px) {
.logo {
  max-width: 7rem;
}
}