.wrapper{
  width: 100%;
  padding:  4rem 3rem;
   background-color: #1A1C20;
}
.container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  margin-bottom: 3.5rem;
}
.copyRight{
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 1.5rem;
}
.copyRight span{
  color: #ff7b00;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    flex-wrap: wrap;
    gap: 4rem;
  }
}
@media screen and (max-width: 650px) {
  .wrapper {
    padding: 3rem 1.5rem;
   
  }
  .container{
 flex-direction: column;
  }
}