.wrapper {
  /* border: 11px red solid; */
  width: 100%;
  padding: 4rem 3rem;
  background-color: #1a1c20;
}
.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 3.5rem;
}
.copyRight {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 1.5rem;
}
.copyRight span {
  color: #ff7b00;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    flex-wrap: wrap;
    gap: 4rem;
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 920px) {
  .wrapper {
    padding: 3rem 1.5rem;
  }
  .container {
    flex-direction: column;
  }
}
