.box3 {
  width: 100%;
  max-width: 20rem;
  flex: 0 0 auto;
}

.box3 h2 {
  text-transform: capitalize;
  color: #ff7b00;
  margin-bottom: 1.5rem;
}
.address {
  width: 100%;
}
.phoneBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.phone {
  margin-right: 0.3rem;
  font-size: 1.2rem;
  color: #fff;
}
.phoneBox span {
  font-size: 1.1rem;
}
.office {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.office span{
  line-height: 1.5rem;
}
