.container, .container2 {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  transform: translateX(110%);
  transition: all 2s ease-in-out;
}
.container2{
  transform: translateX(0);
}
.showSlide{
  transform: translateX(0);
}
.nameEmail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.messages {
  resize: none;
  min-height: 20rem;
  width: 100%;
  border: 1px #ff7b00 solid;
  padding: 0.4rem;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  outline: none;
  margin-bottom: 1rem;
  background: transparent;
}
.messages::placeholder{
  text-transform: capitalize;
  font-size: 1.2rem;
}

@media screen and (max-width: 650px) {
.nameEmail {
  flex-direction: column;
  margin-bottom: 0;
}
}
